<div class="searchbox-container">

    <div class="main-col">

        <div id="searchbox">

            <div class="{{#if isApp}}app-holder isApp{{else}}inputbox-holder{{/if}}">

                <form autocomplete="off">

                    <input on-keydown='keydown' class="frontier-sr-only" id="inputbox" placeholder="Enter a postcode or click the map" size="90" type="text" value="{{user_input}}">

                </form>

                <div id="results">
                	
                    <div id="results">
                    	
                    	{{#if list}}
    					<ul>

    						{{#each postcodeShortlist}}

    						<li on-tap="['postcode', latitude, longitude, place_name, cluster_id]">{{meta}}</li>

    						{{/each}}

    					</ul>
                    	{{/if}}

                    </div>

                </div>

            </div>
            
        </div>

    </div>

    <div id="map"></div>

    {{#if results}}

	    {{#cluster}}

		    <div class="cluster_box">

		    <h2>{{this.cluster}}</h2>

		    {{#if this.temperature}}<strong>Temperature: </strong>{{{this.temperature}}}<br/>{{/if}}

		    {{#if this.rainfall_and_drought}}<strong>Rainfall and drought: </strong>{{{this.rainfall_and_drought}}}<br/>{{/if}}

		    {{#if this.marine}}<strong>Marine: </strong>{{{this.marine}}}<br/>{{/if}}

		    {{#if this.cyclones}}<strong>Cyclones: </strong>{{{this.cyclones}}}<br/>{{/if}}

		    {{#if this.fire}}<strong>Fire: </strong>{{{this.fire}}}{{/if}}

		    </div>

	    {{/cluster}}

    {{/if}}
</div>