@import "mq";


#interactive_preloader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 135px 135px;
    z-index: 1000;
    position: fixed;
    opacity: 1;
}

.fullscreen_container {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    -moz-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    z-index: 999;

    .breakout_block {
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        margin: auto;
        background-color: white;
        position: relative;
        padding: 20px;
        clear: both;

    }

}

p {
    font-size: 18px;
    display: block;
    margin-top: 0;
    font-weight: 400;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.standfirst {
    width: 100;
    max-width: 800px;
    margin: auto;
}

.breakout_block, .editorial_container  {

        h2 {
            font-size: 25px;
            line-height: 29px;
        }

}

.editorial_container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    z-index: 999;
    position: relative;
    box-sizing: border-box;

    @include mq($until: desktop) {
        padding: 20px;
    }




    .bylines {
        font-size: 1.2rem;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: 400;
        color: #2a4006;
        margin: auto;
        margin-bottom: 20px;
        max-width: 800px;
    }

    .bylines a:link {
        color: #2a4006;
        text-decoration: none;
    }

    /* visited link */
    .bylines a:visited {
        color: #2a4006;
        text-decoration: none;
    }

    /* mouse over link */
    .bylines a:hover {
        color: #2a4006;
        text-decoration: none;
    }

    /* selected link */
    .bylines a:active {
        color: #2a4006;
        text-decoration: none;
    }

    .isolation_block {
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        margin: auto;
        background-color: white;
        position: relative;
        padding: 20px;
        -webkit-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
        -moz-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
        box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
        opacity: 0.9;
    }
    
}



.searchbox-container {

    margin-top: 20px;
    width: 100%;
    display: inline-block;

    #searchbox {
        
        width: 100%;
        max-width: 720px;
        margin: auto;
        clear: both;
        box-sizing: border-box;
        padding: 20px

    }

    .app-holder {
        
        box-sizing: border-box;

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: 200px;
           padding-top: 7px;
       }

    }

    .inputbox-holder {
        
        
        width: 100%;


    }

    #inputbox {
        width: 100%;
        height: 34px;
        border-radius: 5px;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 1.1em;
        line-height: 34px;
        box-sizing: border-box;
        padding-left: 10px;
    }

    #inputbox ul {
        list-style-type: none;
        width: 100%;
        font-size: 1.1em;
    }

    #inputbox ul li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px dotted #999;
    }

    #results {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    #results ul {
        list-style-type: none;
        width: 100%;
        font-size: 1.1em;
        padding: 0px;
        margin: 0px;
        background-color: white;
    }

    #results li {
        box-sizing: border-box;
        background-color: #faad56;
        color: black;
        padding: 10px;
        border-bottom: 1px solid black;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 14px;
    }

    #results li:hover {
        color: white;
        background-color: red;
        cursor: pointer;
    }

}


    #map {

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: calc(100% - 300px);
           float: left;
           

       }
    }


    .sub_clusters:hover {
        opacity:0.7;
    }

    path:hover {
        stroke-width: 2px;
        stroke: darkgrey;
    }

    .cluster_box {

        box-sizing: border-box;
        padding: 20px;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 12px;

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: 300px;
           float: right;
       }

        h2 {
            color: darkred;
        }
        .very-high {
            color: #c70000;
        }

        .high-confidence {
            color:#d7301f;
        }

        .medium {
           color:#fc8d59;
        }
    }
