@import "mq";



    .main-col {
    max-width: 38.75rem;
    position: relative;
    display: block;
    float: none;
    
    }

    @media (min-width: 740px) {
        .main-col, .content__main-column--interactive p {
          margin-left: 135px !important;
          width:560px;
          /*float: left;*/
        }  
    }

    @media (min-width: 980px) {
        .main-col, .content__main-column--interactive p {
          margin-left: 100px !important;
          width:420px;
         /* float: left;*/
        }  
    }

    @media (min-width: 1140px) {
        .main-col, .content__main-column--interactive p {
          margin-left: 160px !important;
          width:640px;
          /*float: left; */
        }
    }   

    @media (min-width: 1300px) {
        .main-col, .content__main-column--interactive p {
          margin-left: 240px !important;
          width:640px;
          /*float: left; */
        }
    }   

    .content__standfirst p {
        margin-left: 0px;
    }

    .byline {
        margin-left: 0px!important;
    }


.preloader_container {
  width: 100%;
  margin-top: 50px;
  height: 100px;
}


.spinner {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  text-align: center;
}

.seats_confirmed .spinner {
  margin-top: 100px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.fullscreen_container {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    -moz-box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    box-shadow: 1px -1px 6px 6px rgba(222,215,222,0.4);
    z-index: 999;

    .breakout_block {
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        margin: auto;
        background-color: white;
        position: relative;
        padding: 20px;
        clear: both;

    }

}





.searchbox-container {

    margin-top: 20px;
    width: 100%;
    display: inline-block;

    #searchbox {
        
        width: 100%;
        max-width: 720px;
        margin: auto;
        clear: both;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .app-holder {
        
        box-sizing: border-box;

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: 200px;
           padding-top: 7px;
       }

    }

    .inputbox-holder {
        
        
        width: 100%;


    }

    #inputbox {
        width: 100%;
        height: 34px;
        border-radius: 5px;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 1.1em;
        line-height: 34px;
        box-sizing: border-box;
        padding-left: 10px;
    }

    #inputbox ul {
        list-style-type: none;
        width: 100%;
        font-size: 1.1em;
    }

    #inputbox ul li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px dotted #999;
    }

    #results {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    #results ul {
        list-style-type: none;
        width: 100%;
        font-size: 1.1em;
        padding: 0px;
        margin: 0px;
        background-color: white;
    }

    #results li {
        box-sizing: border-box;
        background-color: #faad56;
        color: black;
        padding: 10px;
        border-bottom: 1px solid black;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 14px;
    }

    #results li:hover {
        color: white;
        background-color: red;
        cursor: pointer;
    }

}


    #map {

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: calc(100% - 300px);
           float: left;
           

       }
    }


    .sub_clusters:hover {
        opacity:0.7;
    }

    path:hover {
        stroke-width: 2px;
        stroke: darkgrey;
    }

    .cluster_box {

        box-sizing: border-box;
        padding: 20px;
        font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif; 
        font-size: 14px;

        @include mq($until: tablet) {
            width: 100%;
        }       

        @include mq($from: tablet) {
           width: 300px;
           float: right;
       }

        h2 {
            color: darkred;
        }
        .very-high {
            color: #c70000;
        }

        .high-confidence {
            color:#d7301f;
        }

        .medium {
           color:#fc8d59;
        }
    }
